.card {
  cursor: pointer;
  &:hover {
    .card-img-top {
      transform: scale(1.2);
    }
    .stretched-link {
      color: $primary;
    }
  }
  .img-wrap {
    overflow: hidden;
  }
  .card-img-top {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
  }
  .stretched-link {
    color: $black;
  }
}
